.container {
	width: 90%;
	margin: 0 auto;
	padding-left: 10%;
}
#columna1 {
	background-color: #99baef;
	width: 10%;
	height: 750px;
	display: inline-block;
	margin-right: -5px;
}
.medio {
	width: 70%;
	display: inline-block;
}
#lila {
	background-color: #c4a7ef; 
	height: 150px;
}
#pink {
	background-color: #f2b9f7;
	height: 450px;
}
#lilac {
	background-color: #c4a7ef;
	height: 150px;
}
#columna2 {
	background-color: #99baef;
	width: 10%;
	height: 750px;
	display: inline-block;
	margin-left: -5px;
}
