* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(img/galaxy.png);
}


div #container {
width: 100%;
}

header {
	width: 100%;
	margin: 0 auto;
	background-color: #FDC0D5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav {
	position: relative;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
	display: block;
	padding: 50px;

}

nav ul li a:hover {
	background-color: rgba(255,255,255,0.5);
	color: #FF00000;
}


.logo img{
	width: 150px;
	height: 80px;
	margin: 10px 20px;
}
