.globo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px;
	display: inline-block;
	box-shadow: 1px 10px 15px #3E3C3C;
}

#azul {
	background: linear-gradient(#7171FF, #0F05E4, #0B0167);
}

#verde {
	background: linear-gradient(#75CF66, #239400, #075001);
}

#rojo {
	background: linear-gradient(#F27676, #D20000, #850303);
}