
.celeste {
	background-color: #5FD1F7;
}

.rosa {
	background-color: #F64FB1;
}

.rojo{
	background-color: #FF0000;
}

.amarillo {
	background-color: yellow;
}

.verde {
	background-color: lime;
}

.blanco {
	background-color: white;
}

.negro {
	background-color: black;
}

.azul {
	background-color: blue;
}

.gradiente {
	background: linear-gradient(to right, white, black);
}

.largo {
	height: 450px;
}
.medio {
	height: 200px;
}

.bajo {
	height: 125px;
}